 span {
        font-style: italic;
    }
.list-container{
    display: inline-block;
    border-style: solid;
    border-width: 0.5px;
    padding-right: 20px;
}
/* Контент */
 .list-container>p{
    text-align: center;
    font-weight: bold;
 }
.img-container{
    float: right;
    border-style: solid;
    border-width: 0.5px;
    padding: 5px;
    margin-left: 10px;
}
.img-container>div{
    display: flex;
    flex-direction: column;
align-items: center;
}
.logo-html{
    max-width: 70px;
}
.logo2{
    max-width: 70px;
}
/* Верхняя навигационная панель */

.nav-container {
display: flex;
justify-content: space-between;
}

.nav-container>nav>ul{
    display: flex;
    list-style: none;
}

.nav-container>nav>ul>li>a{
display: block;
padding: 10px;
border-style: solid;
border-width: 0.5px;
}